- var page = 'Art-single';
include blocks/blocks

doctype html
html.no-js.is-observer
  include components/head.pug
  body
    include components/header.pug
    main-wrap(data-barba="wrapper")
      main(data-barba="container" data-barba-namespace="artsingle")      
        include components/art-single.pug       
      
      include components/lightbox
      //- include components/loader.pug 
      include components/footer.pug
