- var page = 'contact-us';
include blocks/blocks

doctype html
html.no-js.is-observer
  include components/head.pug
  body
    include components/header.pug
    main-wrap(data-barba="wrapper")
      main(data-barba="container" data-barba-namespace="contact-us")
        include components/contact-us.pug 

      
      
      include components/lightbox
      //- include components/loader.pug 
      include components/footer.pug
