section.about-author-heading
  .about-author-heading.grid.container.js-visibility.reveal-slide
    h4 Patricia Treb's paintings are bold and often big; they're positive and joyful to be around. Flat, translucent shapes interlock and dance across the surfaces of her canvases, creating what read like colourful abstract scriptures but what feel intermatley familiar places.