section.about
  .about__inner.container
    .about__top.grid
      .about__top-text-wrap
        h2 Artmother makes and publishes content about art and artists that we love.
        h2 Our mission is to promote the best cultural content to build better connections with audiences and collectors.
      .about__top-image-wrap.js-visibility.reveal-slide-right
        img(src="./img/art-one.jpg", alt="")
        h5 Michael Polsinelli

    .about__bottom.grid
      .about__bottom-left
        .animated-line__container
          .animated-line.js-visibility.animated-line-show  
        h3 We’re a global network of visual artists, writers, curators, film directors, photographers and creatives who share a passion for compelling and ambitious content around artists and artworks that we believe are important to the world. This is our platform to share that with you.
        p Artmother was founded by London-based curator and media director, Michael Polsinelli Artmother was founded by London-based curator and media director, Michael Polsinelli
        p Artmother was founded by London-based curator and media director, Michael Polsinelli Artmother was founded by London-based curator and media director, Michael Polsinelli
        p Artmother was founded by London-based curator and media director, Michael Polsinelli Artmother was founded by London-based curator and media director, Michael Polsinelli
        
        
      .about__bottom-right        
        p Artmother was founded by London-based curator and media director, Michael Polsinelli Artmother was founded by London-based curator and media director, Michael Polsinelli
        p Artmother was founded by London-based curator and media director, Michael Polsinelli Artmother was founded by London-based curator and media director, Michael Polsinelli
        p Artmother was founded by London-based curator and media director, Michael Polsinelli Artmother was founded by London-based curator and media director, Michael Polsinelli
        p Artmother was founded by London-based curator and media director, Michael Polsinelli Artmother was founded by London-based curator and media director, Michael Polsinelli
        p Artmother was founded by London-based curator and media director, Michael Polsinelli Artmother was founded by London-based curator and media director, Michael Polsinelli Artmother was founded by London-based curator and media director, Michael Polsinelli         