.art-single
  .art-single__breadcrumbs-wrap.container.grid
    .art-single__breadcrumb-left
      a(href="")
        <svg class="" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 404.258 404.258" style="enable-background:new 0 0 404.258 404.258;" xml:space="preserve"><polygon points="289.927,18 265.927,0 114.331,202.129 265.927,404.258 289.927,386.258 151.831,202.129 "/></svg>
        h3 Patricia Trieb
    .art-single__breadcrumb-right
      a(href="")
        h3 All works
        <svg class="" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 404.258 404.258" style="enable-background:new 0 0 404.258 404.258;" xml:space="preserve"><polygon points="289.927,18 265.927,0 114.331,202.129 265.927,404.258 289.927,386.258 151.831,202.129 "/></svg>
  .art-single__carousel-wrap.container.grid
    <svg class="art-single__slide-left" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 404.258 404.258" style="enable-background:new 0 0 404.258 404.258;" xml:space="preserve"><polygon points="289.927,18 265.927,0 114.331,202.129 265.927,404.258 289.927,386.258 151.831,202.129 "/></svg>   
    .art-single__carousel    
      img(src="./img/double-one.jpg", alt="Double one" )
      img(src="./img/artist-one.jpg", alt="Double two" )
      img(src="./img/art-two.jpg", alt="Double two" )
      img(src="./img/double-one.jpg", alt="Double one" )
      img(src="./img/artist-one.jpg", alt="Double two" )
      img(src="./img/art-two.jpg", alt="Double two" )
    <svg class="art-single__slide-right" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 404.258 404.258" style="enable-background:new 0 0 404.258 404.258;" xml:space="preserve"><polygon points="289.927,18 265.927,0 114.331,202.129 265.927,404.258 289.927,386.258 151.831,202.129 "/></svg>
  .art-single__title.grid.container
    h1.js-visibility.reveal-slide Straps, 2008
    <svg xmlns="http://www.w3.org/2000/svg" width="156" height="217" viewBox="0 0 156 217"><g><g><g><path fill="red" d="M73.951 15.648L48.108 39.873l-5.596-5.97L78.048.592l35.526 33.31-5.598 5.97L82.14 15.645v123.53h-8.184z"/></g><g><path fill="red" d="M155.782 216.916H.303V61.436h57.282v8.184H8.486v139.113H147.6V69.62H98.5v-8.183h57.282z"/></g></g></g></svg>
  .animated-line__container
    .animated-line.js-visibility.animated-line-show  
  .art-single__details.grid.container
    .art-single__details-left
      p “Each time you remember something, you’re not being teleported to the past— you’re physically experiencing it in the present. It’s recreated, it’s restructured, and it’s a part of the present moment.”Each time you remember something, you’re not being teleported to the past—you’re physically experiencing it. Each time you remember something, you’re not being teleported to the past—you’re physically ex. 
    .art-single__details-right  
      h4 Colour sugar lift, soap ground and spit bite aquatints
      h4 20.75 x 16.5in
        br
        | 52.7 x 41.9 cm
      h4
      h4 Unique work
      h4 
      h4 £15,000
      h4.art-single__line-after Shipping from London , UK
    .art-single__details-btns.js-visibility.reveal-slide
      .art-single__details-btn
        p Shipping options
      .art-single__details-btn
        p Talk to artmother
