section.artists
  .artists__inner.grid.container
    h1 Artworks
    .artists__search-bar
      input#art__search-input(type="text")
      <svg xmlns="http://www.w3.org/2000/svg" width="84" height="86" viewBox="0 0 84 86"><g><g><path d="M54.574 62.184a34.048 34.048 0 0 1-20.391 6.74c-18.88 0-34.186-15.296-34.186-34.164C-.003 15.89 15.302.594 34.183.594c18.88 0 34.187 15.297 34.187 34.166 0 8.153-2.858 15.639-7.627 21.512l21.408 22.523a4.269 4.269 0 0 1-.155 6.038 4.275 4.275 0 0 1-6.042-.155zm5.249-27.424c0-14.152-11.48-25.624-25.64-25.624S8.543 20.608 8.543 34.76c0 14.151 11.48 25.623 25.64 25.623s25.64-11.472 25.64-25.623z"/></g></g></svg>
    .art__options
      .art__filter.btn
        p Filter
      .art__sort.btn
        p Sort

  .art__filter-conatainer.container
    .art__filter-item
      h1 medium
      .art__filter-medium.art__filter-radios(data-category="medium")
        .art__filter-radio-container
          input(type="radio" id="all medium" name="medium" all="true" checked)
          label(for="all medium") All
    .art__filter-item
      h1 price
      .art__filter-price.art__filter-radios(data-category="price")
        .art__filter-radio-container
          input(type="radio" id="all price" name="price" all="true" checked)
          label(for="all price") All      
    .art__filter-item
      h1 size
      .art__filter-size.art__filter-radios(data-category="size")
        .art__filter-radio-container
          input(type="radio" id="all size" name="size" all="true" checked)
          label(for="all size") All
  .art__sort-conatainer.container
    .art__sort-options
      p - Default
      p - Price ascending
      p - Price descending
      p - Earliest work first
      p - Latest work first

  #items    
    ul.art__grid.grid.container.list  
      li.art__item(data-medium="Painting" data-price="under £1k" data-size="under 50cm")
        .content
          .art__img-container
            img(src="./img/artist-one.jpg", alt="Double two" class="js-lightbox")
          h5.art-name Patrick Smith
      li.art__item(data-medium="Photography" data-price="£1k to £5k" data-size="50 - 100cm")
        .content
          .art__img-container
            img(src="./img/art-one.jpg", alt="Double two" class="js-lightbox")
          h5.art-name Patrick Smith
      li.art__item(data-medium="Prints" data-price="£5k to £10k" data-size="over 100cm")
        .content
          .art__img-container
            img(src="./img/art-two.jpg", alt="Double two" class="js-lightbox")
          h5.art-name Patrick Smith                     
      li.art__item(data-medium="Sculpture" data-price="£10k to £25k" data-size="under 50cm")
        .content
          .art__img-container
            img(src="./img/artist-three.jpg", alt="Double two" class="js-lightbox")
          h5.art-name Patrick Smith
      li.art__item(data-medium="Painting" data-price="£1k to £5k" data-size="under 50cm")
        .content
          .art__img-container
            img(src="./img/artist-five.jpg", alt="Double two" class="js-lightbox")
          h5.art-name Patrick Smith                
      li.art__item(data-medium="Photography" data-price="£10k to £25k" data-size="under 50cm")
        .content
          .art__img-container
            img(src="./img/artist-six.jpg", alt="Double two" class="js-lightbox")
          h5.art-name Patrick Smith        
      li.art__item(data-medium="Painting" data-price="£10k to £25k" data-size="over 100cm")
        .content
          .art__img-container
            img(src="./img/artist-one.jpg", alt="Double two" class="js-lightbox")
          h5.art-name Patrick Smith
      li.art__item(data-medium="Prints" data-price="£10k to £25k" data-size="under 50cm")
        .content
          .art__img-container
            img(src="./img/art-two.jpg", alt="Double two" class="js-lightbox")
          h5.art-name Patrick Smith 
      li.art__item(data-medium="Sculpture" data-price="£5k to £10k" data-size="50 - 100cm")
        .content
          .art__img-container
            img(src="./img/art-one.jpg", alt="Double two" class="js-lightbox")
          h5.art-name Patrick Smith                              
      li.art__item
        .content
          .art__img-container
            img(src="./img/artist-three.jpg", alt="Double two" class="js-lightbox")
          h5.art-name Patrick Smith
      li.art__item
        .content
          .art__img-container
            img(src="./img/artist-five.jpg", alt="Double two" class="js-lightbox")
          h5.art-name Patrick Smith                
      li.art__item
        .content
          .art__img-container
            img(src="./img/artist-six.jpg", alt="Double two" class="js-lightbox")
          h5.art-name Patrick Smith
      li.art__item
        .content
          .art__img-container
            img(src="./img/artist-three.jpg", alt="Double two" class="js-lightbox")
          h5.art-name Patrick Smith
                         