section.artist-hero
  .animated-line__container
    .animated-line.js-visibility.animated-line-show  
  .artist-hero__inner.container
    .artist-hero__title.grid.js-visibility.reveal-slide
      .artist-hero__name.reveal-container
        h1.js-visibility.reveal-text Patricia 
      .artist-hero__name.reveal-container
        h1.artist-hero__second-name.js-visibility.reveal-text(style="transition-delay: 6.8s !important;") Treib
    .artist-hero__image-text.grid  
      .artist-hero__image-wrap
        img(src="./img/artist-hero.jpg", alt="")
      .artist-hero__text-wrap
        h3 "You can see Treib's hand puckering and smoothing shapes, just like a body might sulpt a bedsheet."
