section.author-timeline
  .author-timeline__center-line
  .author-timeline__inner.grid.container
    .author-timeline__row-one-left-img
      img(src="./img/double-two.jpg", alt="")
    .author-timeline__row-one-left-text
      .reveal-container
        h3 Dec 2019
      h4 SOLO EXERBITION:
      h4 Kate McGarry, London
        .author-timeline__leading-line
      p Treib was selected for the inaugural MacDowell Colony residency in Florida. It was set up to support artists who innovate with the medium of painting, granting them free It was set up to support artists who innovate with the medium of painting, granting them free 
    .author-timeline__row-one-right-text
      .reveal-container
        h3 Feb 2020
      h4 SOLO EXERBITION:
      h4 Kate McGarry, London
        .author-timeline__leading-line
      p Treib was selected for the inaugural MacDowell Colony residency in Florida. It was set up to support artists who innovate with the medium of painting, granting them free It was set up to support artists who innovate with the medium of painting, granting them free 
    .author-timeline__row-one-right-img
      img(src="./img/double-one.jpg", alt="")

    .author-timeline__row-two-left-img
      img(src="./img/double-two.jpg", alt="")
    .author-timeline__row-two-left-text
      .reveal-container
        h3 Apr 2020
      h4 SOLO EXERBITION:
      h4 Kate McGarry, London
        .author-timeline__leading-line
      p Treib was selected for the inaugural MacDowell Colony residency in Florida. It was set up to support artists who innovate with the medium of painting, granting them free It was set up to support artists who innovate with the medium of painting, granting them free Treib was selected for the inaugural MacDowell Colony residency in Florida. It was set up to support artists who innovate with the medium of painting, granting them free It was set up to support artists who innovate with the medium of painting, granting them free
    .author-timeline__row-two-right-text
      .reveal-container
        h3 Nov 2020
      h4 SOLO EXERBITION:
      h4 Kate McGarry, London
        .author-timeline__leading-line
      p Treib was selected for the inaugural MacDowell Colony residency in Florida. It was set up to support artists who innovate with the medium of painting, granting them free It was set up to support artists who innovate with the medium of painting, granting them free 
    .author-timeline__row-two-right-img
      img(src="./img/artist-hero.jpg", alt="")



    .author-timeline__row-three-left-img
      img(src="./img/double-one.jpg", alt="")
    .author-timeline__row-three-left-text      
      .reveal-container
        h3 Dec 2020
      h4 SOLO EXERBITION:
      h4 Kate McGarry, London
        .author-timeline__leading-line
      p in Florida. It was set up to support artists who innovate with the medium of painting, granting them free It was set up to support artists who innovate with the medium of painting, granting them free 
    .author-timeline__row-three-right-text
      .reveal-container
        h3 Jan 2021
      h4 SOLO EXERBITION:
      h4 Kate McGarry, London
        .author-timeline__leading-line
      p Treib was selected for the inaugural MacDowell Colony residency in Florida. It was set up to support artists who innovate with the medium of painting, granting them free It was set up to support artists who innovate with the medium of painting, granting them free MacDowell Colony residency in Florida. It was set up to support artists who innovate
    .author-timeline__row-three-right-img
      img(src="./img/double-two.jpg", alt="")

    .author-timeline__row-one-left-img
      img(src="./img/double-two.jpg", alt="")
    .author-timeline__row-one-left-text
      .reveal-container
        h3 Dec 2019
      h4 SOLO EXERBITION:
      h4 Kate McGarry, London
        .author-timeline__leading-line
      p Treib was selected for the inaugural MacDowell Colony residency in Florida. It was set up to support artists who innovate with the medium of painting, granting them free It was set up to support artists who innovate with the medium of painting, granting them free 
    .author-timeline__row-one-right-text
      .reveal-container
        h3 Feb 2020
      h4 SOLO EXERBITION:
      h4 Kate McGarry, London
        .author-timeline__leading-line
      p Treib was selected for the inaugural MacDowell Colony residency in Florida. It was set up to support artists who innovate with the medium of painting, granting them free It was set up to support artists who innovate with the medium of painting, granting them free 
    .author-timeline__row-one-right-img
      img(src="./img/double-one.jpg", alt="")


section.mobile-author-timeline
  .mobile-author-timeline__inner
    .mobile-author-timeline__top
      .mobile-author-timeline__title
        h2 Timeline
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="74" viewBox="0 0 30 74"><g><g><path d="M29.47 36.788L2.705.116.028 3.872l23.955 32.916L.028 69.704l2.677 3.757z"/></g></g></svg>
      .mobile-author-timeline__top-colomn-one-text
        .reveal-container
          h3 Feb 2020
        h4 SOLO EXERBITION:
        h4 Kate McGarry, London
        p Treib was selected for the inaugural MacDowell Colony residency in Florida. It was set up to support artists who innovate with the medium of painting, granting them free It was set up to support artists who innovate with the medium of painting, granting them free 
        .mobile-author-timeline__leading-line
      .mobile-author-timeline__top-colomn-one-img
        img(src="./img/double-one.jpg", alt="")
      
      .mobile-author-timeline__top-colomn-two-text
        .reveal-container
          h3 Feb 2020
        h4 SOLO EXERBITION:
        h4 Kate McGarry, London
        p Treib was selected for the inaugural MacDowell Colony residency in Florida. It was set up to support artists who innovate with the medium of painting, granting them free It was set up to support artists who innovate with the medium of painting, granting them free 
        .mobile-author-timeline__leading-line
      .mobile-author-timeline__top-colomn-two-img
        img(src="./img/double-one.jpg", alt="")

    
    
    .mobile-author-timeline__bottom
      

      .mobile-author-timeline__bottom-colomn-one-img
        img(src="./img/artist-hero.jpg", alt="")
      .mobile-author-timeline__bottom-colomn-one-text
        .reveal-container
          h3 Feb 2020
        h4 SOLO EXERBITION:
        h4 Kate McGarry, London
        p Treib was selected for the inaugural MacDowell Colony residency in Florida. It was set up to support artists who innovate with the medium of painting, granting them free It was set up to support artists who innovate with the medium of painting, granting them free 
        .mobile-author-timeline__leading-line
      
      .mobile-author-timeline__bottom-colomn-two-text
        .reveal-container
          h3 Feb 2020
        h4 SOLO EXERBITION:
        h4 Kate McGarry, London
        p Treib was selected for the inaugural MacDowell Colony residency in Florida. It was set up to support artists who innovate with the medium of painting, granting them free It was set up to support artists who innovate with the medium of painting, granting them free 
        .mobile-author-timeline__leading-line
      .mobile-author-timeline__bottom-colomn-two-img
        img(src="./img/double-two.jpg", alt="")



