section.contact-us
  .contact-us__inner
    .contact-us__header.grid.container
      h2 Talk to us
    .contact-us__main.grid.container
      .contact-us__image-wrap.js-visibility.reveal-slide-left
        img(src="./img/artist-six.jpg", alt="Double two" class="")
      .contact-us__text-wrap.js-visibility.reveal-slide-right
        h4 Collecting art?
        p  collectingart@artmother.com
        h4 Ideas and queries?
        p  collectingart@artmother.com
        h4 Address
        p  xxx x xxxxx xxxx xxx xxx xx xxxxx xxx xxxxxxx xxxxx xxxx xxxxxx xxx xx xxx x xxxxx xxxx xxx xxx xx xxxxx xxx xxxxxxx xxxxx xxxx xxxxxx xxx xxxx