section.double-image
  .double-image__inner.grid.container
    .double-image__one.js-visibility.reveal-slide-left
      img(src="./img/double-one.jpg", alt="Double one" class="js-lightbox")
      p Flowers in the stream 2004
    .double-image__two.js-visibility.reveal-slide-right
      img(src="./img/double-two.jpg", alt="Double two" class="js-lightbox")
      p Flowers in the stream 2004