section.double-image
  .double-image__inner.grid.container
    .double-image__one
      img(src="./img/double-one.jpg", alt="")
      p Flowers in the stream 2004
    .double-image__two
      img(src="./img/double-two.jpg", alt="")
      p Flowers in the stream 2004