.page-tranition
footer.page-footer.container
  .page-footer__inner.grid 
    ul.page-footer__col-one
      li Who we are
      li Aquisitions & shipping
      li Contact us
    ul.page-footer__col-two
      li Privacy policy
      li Cookie policy
      li Terms & conditions
      p © artmother
    ul.page-footer__col-three
      h3 join the network
      .page-footer__newsletter
        input(type="text" placeholder="Email address")
        <svg width="151" height="169" viewBox="0 0 151 169" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 168V1L149 90L1 168Z" fill="black" stroke="black" stroke-opacity="0.98"/></svg>
      .page-footer__social
    

script(src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous")
script.
  window.jQuery ||
    document.write(
      '<script src="js/jquery-3.3.1.min.js"><\/script>'
    );

script(src="js/main.min.js")



  <script src="https://cdnjs.cloudflare.com/ajax/libs/vivus/0.4.5/vivus.js" integrity="sha512-JDgkxcdf7oYN/lR29Dzzw17b5Rv42eJ4Vj8aysjr+YpqwaURHrcR1/wGmyIBlsXK55Wsq3TW9tWoDzIou2q3qw==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js" integrity="sha512-1dalHDkG9EtcOmCnoCjiwQ/HEB5SDNqw8d4G2MKoNwjiwMNeBAkudsBCmSlMnXdsH8Bm0mOd3tl/6nL5y0bMaQ==" crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/ScrollTrigger.min.js" integrity="sha512-QcYm1q7RbnXmwY7HJ0H7938IS0MalTPYqGUF0fIwQgEjMBt2tqjDBt+R5I+ppdwEohjMdHnFU0H+RxmrGQ8qcg==" crossorigin="anonymous"></script>
