section.full-width-video
  .full-width-video.container.grid
    video(playsinline, autoplay, muted, loop, id="myVideo")
      source(src="./img/full-width.mp4", type="video/mp4")
  .full-width-video__text-wrap.container.grid
    h2 Patricia Treib 
      span opened June 7
    .full-width-video__info
      h5 Curator: Julie Smith | Film: Jane Smith | Featuring: JJ Smith | Words: John Smith & Patricia Trib | Images: James Smith
      <svg xmlns="http://www.w3.org/2000/svg" width="156" height="217" viewBox="0 0 156 217"><g><g><g><path fill="red" d="M73.951 15.648L48.108 39.873l-5.596-5.97L78.048.592l35.526 33.31-5.598 5.97L82.14 15.645v123.53h-8.184z"/></g><g><path fill="red" d="M155.782 216.916H.303V61.436h57.282v8.184H8.486v139.113H147.6V69.62H98.5v-8.183h57.282z"/></g></g></g></svg>
  .animated-line__container
    .animated-line.js-visibility.animated-line-show  

  