section.lightbox
  .lightbox__inner.container
    .lightbox__close
      <svg id="Capa_1" enable-background="new 0 0 386.667 386.667" height="512" viewBox="0 0 386.667 386.667" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m386.667 45.564-45.564-45.564-147.77 147.769-147.769-147.769-45.564 45.564 147.769 147.769-147.769 147.77 45.564 45.564 147.769-147.769 147.769 147.769 45.564-45.564-147.768-147.77z"/></svg>
    //- .lightbox__image-wrap
      //- img(src="./img/double-two.jpg", alt="")
      p description
    <div>
      <div class="magnifier-thumb-wrapper">
          <img id="thumb" src="">
      </div>
      <div class="magnifier-preview" id="preview" style="width: 200px; height: 133px">Starry Night Over The Rhone<br>by Vincent van Gogh</div>
    </div>    