section.multiple-images
  .multiple-images__inner.grid.container
    .multiple-images__wrap-one
      img(src="./img/double-two.jpg", alt="Double two" class="js-lightbox")
      h5 Mud 2005
    .multiple-images__wrap-two
      img(src="./img/double-one.jpg", alt="Double one" class="js-lightbox")
      h5 Mud 2005
    .multiple-images__wrap-three
      img(src="./img/double-two.jpg", alt="Double two" class="js-lightbox")
      h5 Mud 2005
    .multiple-images__wrap-four
      img(src="./img/double-one.jpg", alt="Double two" class="js-lightbox")
      h5 Mud 2005