section.shipping
  .shipping__inner.grid.container
    .shipping__heading.js-visibility.reveal-slide
      h2 You’ve found a work on artmother that you’d love to acquire… so what are the next steps?
    .shipping__row-one
      .shipping__text-wrap
        h3 1.The shipping option:
        p The ‘shipping options’ button alongside each published artwork lets you choose the next steps. One option is to supply the postcode to which you’d like the work shipped – this information is automatically sent to our team, who will respond immediately with the shipping cost and delivery schedule. We’re here to accommodate you, so if you’d like to arrange your own shipping or collect the work yourself, we can organise that too
      img(src="./img/double-one.jpg", alt="Double two" class="js-lightbox")
    .shipping__row-two
      img(src="./img/double-two.jpg", alt="Double two" class="js-lightbox")
      .shipping__text-wrap
        h3 2. Packing:
        p Once you’ve chosen a shipping option and purchased the work, we ensure that it is packed safely and securely ready for shipping collection.      
    .shipping__row-three
      .shipping__text-wrap
        h3 3. Your work is shipped:
        p artmother’s shipping partner is xxx, one of the world’s leading specialist art shippers. If you choose to arrange shipping through us, xxx will ensure the safe and secure transport of the work to your chosen destination. Should anything unthinkable happen during this process, your work is fully insured. 
      img(src="./img/double-one.jpg", alt="Double two" class="js-lightbox")
    .shipping__row-four
      img(src="./img/double-two.jpg", alt="Double two" class="js-lightbox")
      .shipping__text-wrap
        h3 4. Installation and aftercare:
        p The work is all yours. Remember that we also offer further services, such as expert installation and advisory for any future acquisitions. Feel free to contact us to discuss.      